body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: digital;
    src: url(./digital-7/digital-7.ttf);
}

#container {
    width: 400px;
    height: 600px;
    background-color: grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen {
    font-family: digital;
    margin: 15px 0;
    width: 350px;
    height: 100px;
    background-color: black;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 50px;
    color: forestgreen;
    
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    gap: 2px;
}

.key {
    width: 90px;
    height: 90px;
    font-size: xx-large;
}

#clear {
    font-size: large;
    background-color: rgb(241, 92, 92);
    height: 60px;
    width: 180px;
}